<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <servlet>
    <servlet-name>Info</servlet-name>
   <servlet-class>web.vasilizas.controller.Info</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>StudentPage</servlet-name>
  <jsp-file>/student/student.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Start</servlet-name>
    <jsp-file>/auth.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Auth</servlet-name>
    <servlet-class>web.vasilizas.controller.authentication.Authentication</servlet-class>
    </servlet>

  <servlet>
    <servlet-name>About</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>Admin</servlet-name>
    <jsp-file>/admin/admin.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <jsp-file>/add-teacher.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>SessionOut</servlet-name>
    <servlet-class>web.vasilizas.controller.Out</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/admin/add-teacher</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/auth</url-pattern>
      </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SessionOut</servlet-name>
    <url-pattern>/out</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StudentPage</servlet-name>
    <url-pattern>/student-page</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>

  </web-app>
