<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <servlet>
    <servlet-name>Info</servlet-name>
   <servlet-class>web.vasilizas.controller.Info</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Auth</servlet-name>
    <servlet-class>web.vasilizas.controller.authentication.Authentication</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <jsp-file>/add-teacher.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/admin/add-teacher</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/myweb/auth</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>

  </web-app>
